div#fora {
    height: 96vh;
    background-color: #bd7df5;
    position: relative;
}


div#dentro {
    height: 200px;
    width: 300px;
    background-color: #f5ff40;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}